  h1 {
    color: blue;
  }
  p {
    font-size: 16px;
  }
  body {
    font-family: Arial, sans-serif;
  }
  /* Cambiar el color de fondo de la página */
body {
    background-color:darkcyan;
  }
  
  /* Cambiar el color de texto del encabezado h1 */
  h1 {
    color:black;
  }
  
  /* Cambiar el tamaño de la fuente del párrafo */
  p {
    font-size: 16px;
  }
  
  /* Cambiar la familia de fuentes de todo el sitio */
  body {
    font-family: Arial, sans-serif;
  }
  
  /* Cambiar el color de fondo del botón */
  button {
    background-color: green;
    color: white;
    padding: 10px;
    border: none;
    display: block;
    margin-right: auto;
    margin-left:90%;
  }
  .slider-container {
    display: flex;
    width: 50%;
    height: 50vh;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
  
  .slider-container img {
    flex: 0 0 100%;
    width: 100%;
    object-fit: cover;
    scroll-snap-align: center;
  }
  .contenedor{
    background-color:white;
    margin: 100px;
    width: 85%;
    height: 190vh;
    margin-top: 20px;
    padding: 15px 20px;
  }
  .fondo{
    background-color: aquamarine;
  }
  .success:hover{
    background-color: darkgray;
    color: white;
  }
  .success{color: green;}